body{
    /* background-color: wheat; */
   
}
.head{
    border: 1px solid white;
    border-radius: 8px;
    box-shadow: 2px 2px 3px white;
    background-color: white;
    width: 100%;
    height: 350px;
    align-items: center;
}
.head h1,h2{
    text-align: center;
}
.para-one{
    text-align: center;
}
.rock{
    background-color: rgb(231, 95, 95);
    color: white;
    border: none;
    border-radius: 4px;
    width: 70px;
    height: 30px;
    cursor: pointer;
}
.paper{
    background-color: rgb(37, 174, 189);
    color: white;
    border: none;
    border-radius: 4px;
    width: 70px;
    height: 30px;
    cursor: pointer;
}
.scissors{
    background-color: rgb(231, 231, 9);
    border: none;
    border-radius: 4px;
    width: 70px;
    height: 30px;
    cursor: pointer;
}
.para-two{
    background-color: rgb(245, 241, 241);
    width: 400px;
    height: 80px;
    margin-left: 550px;
    margin-top: 8px;
    line-height: 6px;
    padding: 2px;
    padding-left: 8px;
    border-radius: 2px;
    
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 6px;
    gap: 60px;
    font-weight: bolder;
}